/*.flex{
    display: flex;
}*/
.flex {
    overflow: hidden;
}
.flex >{
    margin:1%;
    padding:1em;
    box-shadow:1px 1px 1px 3px rgba(0,0,0,0.1);
}
.sec1{
    background-color: lightblue;
}
.sec2{
    background-color:lightgoldenrodyellow;
}
.sec3{
    background-color:lightpink;
}
img{
    width:calc(100%*2/3);
}
@media screen and (min-width:600px){
    /* .flex{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
    } */
    .sec1{
        float:left;
        width:50%;
    }
    .sec2{
        float:left;
        width:50%;
    }
    .sec3{
        float:left;
        clear: both;
    }
    /* .sec3{
        width:98%;
    } */
}
@media screen and (min-width:1025px){
    /* .flex{
        flex-wrap:nowrap;
    }
    .sec1{
        width:auto;
    }
    .sec2{
        width:auto;
    } */
    .sec3{
        /* width:auto; */
        clear:none;
    }
}