/*.flex{
    display: flex;
}*/
:root{
    --shadow-length-width:2%;
    --pad:5%;
    --margin:1%;
    --width:calc( 50% - 6% - 20px );
}
.flex > *{
    margin:var(--margin);
    padding:var(--pad);
    box-shadow:3px 3px 3px 10px rgba(0,0,0,0.1);
}
.sec1{
    background-color: lightblue;
}
.sec2{
    background-color:lightgoldenrodyellow;
}
.sec3{
    background-color:lightpink;
}
img{
    width:calc(100%*2/3);
}
@media screen and (min-width:600px){
    :root{
        --xnum:2;
    }
    .flex{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .sec1{
        /* float:left; */
        width:var(--width);
    }
    .sec2{
        /* float:left; */
        width:var(--width);
    }
    .sec3{
        width:calc(100 - var(--shadow-length-width)*2 - var(--pad)*2 - var(--margin) *2 );
    }
}
@media screen and (min-width:1000px){
    .flex{
        flex-wrap:nowrap;
    }
    .sec1{
        width:auto;
    }
    .sec2{
        width:auto;
    }
    .sec3{
        /* width:auto; */
        width:auto;
        clear:none;
    }
}