.button{
    color: #ffffff;
    background: #4e8a60;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
body{
    background-color: greenyellow;
}