body {
    background-color: lightblue;
}
h1 {
    color:green;
}
h2,h3{
    color:cornflowerblue;
}
a:link {
    color: Darkorange;
}
a:visited{
    color:darkorange;
}
table{
    border-collapse: collapse;
}
td{
    text-align:left;
    width:150%;
}