body{
    background-color: #f0f8ff;
}
.box{
    border:#333 solid 2px;
    padding:20px;
    margin:20px 0;
}
.box1 {
    background-color: #e6f7ff;
    border-radius:10px;
}
.box2{
    background-color: #fff2e6;
    border-radius:5px;
    box-shadow:3px 3px 3px 10px rgba(0,0,0,0.1);
}
.box3{
    border:#333 dashed 2px;
    background-color: #f9e6ff;
    border-radius:0px;
}
img{
    width:10%;
    height:auto;
}