.container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:300px;
}
img {
    width:200px;
    border-radius: 10px;
}
.container > *{
    padding:1em;
    margin:0.5em;
    border-radius: 10px;
}
button {
    border-radius: 10px;
}
@media screen and (min-width:calc(400px + 3em)) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width:calc(600px + 4.5em)){
    .container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:calc(800px + 6em)){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
}