header{
    background-color: black;
    color:white;
    text-align:center;
    padding:5px 0;
}
.container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
}
img {
    margin:0 auto;
    width:190px;
    border-radius: 10px;
}
.container > *{
    padding:0.5em;
    margin:10px;
    border-radius: 10px;
}
.button {
    border-radius: 10px;
    padding:5px;
    width:max-content;
    color:white;
}
#section1{
    background-color: lightblue;
}
#section2{
    background-color: lightyellow;
}
#section3{
    background-color: #CBC3E3;
}
#section4{
    background-color: lightgreen;
}
#b1{
    background-color: rgb(138, 222, 12);
}
#b2{
    background-color: red;
}
#b3{
    background-color: blue;
}
#b4{
    background-color: rgb(203, 203, 0);
}
body{
    background-color: #d7f0f9;
}
@media screen and (min-width:calc(440px + 2em)) {
    .container > *{
        width:200px;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,480px);
    }
}
@media screen and (min-width:calc(660px + 3em)){
    .container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width:calc(880px + 4em)){
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,480px);
    }
}