body {
    height:600px;
    width:800px;
    background-color:bisque;
}
figure{
    margin:0;
    padding:0;
}
img.square{
    height:250px;
    width:250px;
    vertical-align: bottom;
}
.dashed{
    width:250px;
    border-style: dashed;
    text-align: center;
}