body {
    height:600px;
    width:800px;
    background-color:bisque;
}
img.square{
    height:250px;
    width:250px;
}
img.square + figcaption{
    width:250px;
    border-style: dashed;
    text-align: center;
}